body{
  color: #333;
  font-family: Verdana, sans-serif;
  margin: 0;
}

header{
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
}

footer p{
  color: gray;
  padding-bottom: 60px;
  text-align: center;
}
.container{
  /*background-color:pink;*/
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.icon{
  /*background-color: skyblue;*/
}

.icon img {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}

.info{
  /*background-color: tomato;*/
  margin-left: 34px;

  h1{
    font-weight: normal;
    font-size: 24px;
    margin: 0;
  }

  p{
    margin: 0 0 16px;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li{
      margin-right: 8px;
    }
  }
}

.index {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  border: 2px dashed gainsboro;
  border-radius: 10px;
  padding: 30px 20px;

  h1 {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 2;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  }
  h1::before{
    content: '- ';
  }
  h1::after{
    content: ' -';
  }

  ol {
    margin: 0;
    list-style-position: inside;
  }
}

.foods{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;

  h1 {
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 2;

    img{
      vertical-align: middle;
    }
  }

  section{
    margin-bottom: 60px;

    h1{
      font-size: 24px;
      font-weight: normal;
    }
  }

  p{
    line-height: 1.5;
  }
}

.country{
  display: inline;
  background-color: pink;
}

.pagetop{
  width: 62px;
  height: 64px;
  position: fixed;
  bottom: 0;
  right: 10px;
  cursor: pointer;
}
.pagetop:hover{
  opacity: 0.8;
}

.new{
  width: 110px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
}

.food_photo{
  position: relative;
}